* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: var(--light-color);
  text-decoration: none;
}

@font-face {
  font-family: "inter";
  src: url("fonts/Inter-Light.ttf") format("truetype");
}
@font-face {
  font-family: "inter-bold";
  src: url("fonts/Inter-ExtraBold.ttf") format("truetype");
}

:root {
  --dark-color: #0e1014;
  --light-color: white;
}

body {
  width: 100%;
  justify-content: center;
  font-family: "inter";
  background-color: rgb(21, 15, 15);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.wrap {
  width: 80%;
}

.header {
  margin-top: 60px;
  min-height: 50px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  color: var(--light-color);
  font-size: 16px;
}

.menu-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 15%;
  display: flex;
  flex-wrap: wrap;
}

.header__logo-img {
  max-width: 130px;
}

.header__logo-text {
  font-size: 10px;
  max-width: 140px;
}

.header__naw {
  display: flex;
  justify-content: flex-start;
  width: 60%;
}

.header__naw-list {
  max-width: 505px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__contacts {
  max-width: 300px;
  width: 25%;
}

.hidden-descstop {
  display: none;
}

.main__promotion {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promotion--content-wrap {
  margin-bottom: 40px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 18px;
  color: var(--light-color);
  justify-content: start;
}

.promotion--content-width {
  width: 70%;
  min-width: 380px;
}

.slogan-title {
  font-size: 48px;
  margin-bottom: 30px;
}

.consultation {
  text-align: end;
  justify-content: end;
}

.products {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.product {
  width: 35%;
  margin-top: 30px;
}

.product-text {
  font-size: 16px;
}

.hyphen {
  margin-right: 4px;
}

.button {
  max-width: 260px;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  background-color: #4077f3;
  color: var(--light-color);
  border: none;
}

.gradient {
  font-family: "inter-bold";
  background-image: linear-gradient(70deg, rgb(244, 220, 41), red);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.text-uppercase {
  text-transform: uppercase;
}

.footer {
  display: flex;
  flex-wrap: wrap;
}

.footer__main-section {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.main-section__column {
  margin-top: 125px;
}

.column--alignment {
  text-align: end;
}

.column__title {
  font-size: 14px;
  color: #656566;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.column__element {
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--light-color);
}

.column__subcolumns {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
}

.column__icons {
  display: flex;
  justify-content: end;
}
.column__icon {
  padding: 5px;
}

.footer__addition-section {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 50px;
  margin-bottom: 25px;
}

.addition-section__text {
  color: var(--light-color);
  font-size: 12px;
  text-decoration: underline;
}

@media (max-width: 1050px) {
  .wrap {
    width: 100%;
    padding: 20px;
  }

  .header__logo {
    display: none;
  }

  .header__contacts {
    width: 35%;
  }
}

@media (max-width: 750px) {
  .hidden-descstop {
    display: flex;
  }

  .hidden-mobile {
    display: none;
  }

  .header {
    align-items: center;
    margin-top: 0;
    background-color: var(--dark-color);
  }

  .header__naw {
    justify-content: space-evenly;
    width: 100%;
  }

  .header__naw-list {
    width: 100%;
    max-width: none;
  }

  .promotion--content-wrap,
  .promotion--content-width {
    width: 100%;
    min-width: 150px;
  }

  .slogan-title {
    font-size: 28px;
  }

  .consultation {
    text-align: start;
  }

  .products {
    justify-content: start;
  }

  .product {
    width: 50%;
    margin-top: 10px;
  }

  .footer {
    background-color: var(--dark-color);
  }

  .footer__main-section {
    flex-wrap: wrap;
  }

  .footer_icons {
    justify-content: start;
  }

  .main-section__contacts {
    text-align: start;
  }

  .column {
    margin-top: 30px;
    width: 100%;
  }

  .column__subcolumns {
    flex-wrap: wrap;
    min-width: 0;
  }

  .column__icons {
    justify-content: start;
  }

  .column--alignment {
    text-align: start;
  }

  .footer__addition-section {
    justify-content: start;
  }
}

.absolute {
  position: absolute;
  z-index: 0;
}

.background-ball {
  left: 520px;
  top: 70px;
  width: 83px;
  filter: drop-shadow(3px 3px 3px rgb(123, 100, 100));
}

.background-ball--small {
  right: 520px;
  top: 420px;
  width: 28px;
  filter: blur(2px);
}

.background-ball--blur {
  right: 520px;
  top: 5px;
  width: 60px;
  filter: blur(4px) drop-shadow(3px 3px 3px rgb(123, 100, 100));
}

.background-hidden-red-blur {
  width: 400px;
  top: 15%;
  left: -200px;
}
.background-hidden-purple-blur {
  width: 400px;
  top: -200px;
  right: 10%;
}
